Tests: hotspot, langtools
Depends: @, default-jre-headless, jtreg, testng, g++, procps
Restrictions: allow-stderr

Tests: jdk
Depends: @, default-jre-headless, jtreg, testng, g++, xfwm4, xvfb, dbus-x11, unzip, zip, procps, xauth
Restrictions: allow-stderr
